body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.board {
  height: 30rem;
  width: 30rem;
  border: 1px solid black;
  display: grid;
}

.buttons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
